.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  color: white;
}

.navbar_brand-title {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar_links {
  height: 100%;
  font-size: 1.8rem;
}

.navbar_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar_link {
  list-style: none;
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar_link:hover {
  background-color: #c16ece;
}

.navbar_link:active {
  border-bottom: 3px solid #29b6f6;
  -webkit-transition: border-bottom .5s ease-in-out;
  transition: border-bottom .5s ease-in-out;
}

.navbar_hamburger {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.navbar_bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.navbar_show-nav {
  height: 120px;
}

@media screen and (max-width: 500px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar_hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar_links {
    display: none;
    width: 100%;
  }
}

.home {
  width: 100vw;
  height: 100vh;
  -webkit-clip-path: polygon(100% 0, 100% 36%, 63% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 0, 100% 36%, 63% 100%, 0 100%, 0 0);
  background-color: #B7EEF9;
}

.home__logo_image {
  max-width: 300px;
  border-radius: 50%;
  padding-top: 40px;
}

.home__statement_text {
  padding-top: 30px;
}

.home__statement_text p {
  color: #000;
  font-family: 'Patrick Hand', sans-serif;
  font-weight: 500;
  letter-spacing: 0;
  font-size: calc(24px + 1 * ((100vw - 320px) / 680));
  line-height: calc(32px + 6 * ((100vw - 320px) / 680));
  text-align: center;
}

.home__statement_text h2 {
  color: #000;
  font-family: 'Patrick Hand', sans-serif;
  font-weight: 800;
  letter-spacing: 0;
  font-size: calc(24px + 1 * ((100vw - 320px) / 680));
  line-height: calc(40px + 6 * ((100vw - 320px) / 680));
  text-align: center;
}

.home__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 20px;
}

.home__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .home__statement_text {
    max-width: 80%;
    margin: 0 auto;
  }
  .home__statement_text p {
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    line-height: calc(32px + 6 * ((100vw - 320px) / 680));
  }
  .home__link {
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    line-height: calc(32px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  .home__statement_text {
    max-width: 75%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .user__logo_image {
    max-width: 300px !important;
    margin-bottom: 20px;
  }
  .user__countdown {
    max-width: 80% !important;
    margin: 0 auto !important;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #868686;
  max-width: 100%;
  max-height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 800px) {
  body {
    overflow: hidden;
  }
}
/*# sourceMappingURL=App.css.map */